body {
  background-color: #f5ce98;
}
h1 {
  color: #7d4d48;
  display: flex;
  font-size: 65px;
}
.topheader {
  position: fixed;
  background-color: orange;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.Menu-Horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.Menu-Horizontal li a {
  display: block;
  color: #7d4d48;
  padding: 15px 20px;
  text-decoration: none;
}
.Menu-Vertical {
  padding: 0px;
  position: absolute;
  display: none;
  list-style: none;
  width: 130px;
  background-color: #ffcb75;
}
.Menu-Horizontal li a:hover {
  color: #4fbda3;
  font-style: 35px;
}
.Menu-Horizontal li:hover .Menu-Vertical {
  display: block;
}
/*SECCION PERSONAS*/
.seccion-personas {
  padding: 60px 20px;
  background-color: #eb974d;
}
.div-gral-persona {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1500px;
  gap: 65px;
}
.div-pers-texto {
  flex: 1;
  color: #ffefe0;
  font-size: 14px;
}
.div-pers-texto h2 {
  color: #7d4d48;
  line-height: 1.6;
}
.div-pers-img {
  flex: 1;
}
.div-pers-img img {
  width: 100%;
  max-width: 700px;
}
/*Seccion videos*/
.seccion-vid {
  padding: 60px 20px;
  background-color: #eb974d;
}
.div-gral-vid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  gap: 65px;
}
.div-vid-texto {
  flex: 1;
  color: #ffefe0;
  font-size: 14px;
}
.div-vid-texto h3 {
  color: #7d4d48;
  line-height: 1.6;
}
/*Seccion FORMULARIO REGISTRO*/
.section-form{
  padding: 40px;
  border:3px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.div-cont-form {
  background-color: #7d4d48;
  padding: 60px;
  border: 3px;
}
.div-cont-form {
  background-color: #7d4d48;
  padding: 30px;
  border: 2px solid #eb974d;
  border-radius: 10px;
  width:100%
  max-width: 500px;
}
.campo{
  background-color: #b9803e;
  padding:15px;
  border: 1px;
  border-radius:8px;
  margin-bottom:15px;
}
.form-cuenta pais{
  text-decoration: none;
}
.form-cuenta label{
  color:#ffefe0;
}

/*INPUTS LABEL*/
.form-cuenta input[type="text"],
.form-cuenta select{
  width:100%;
}
.lista-checkbox,
.lista-rad{
list-style: none;
padding: 10px;
border: 1px;
background-color:
border-radius: 5px;
}
.form-cuenta button{
background-color:#ffcb75
color: white;
border:1.5px;
padding: 10px 12px;
border-radius: 3px;
cursor: pointer;
}
